.header{
border-bottom: 1px solid grey;
}
.menu-header{
  padding: 10px 0 10px 20px;
}.icon-bars i{
  color: black
}
.icon-search i{
  color: black;
  font-size: 15px;
}
.logo-header img{
  width: 100px;
}
.icon-user i{
  font-size: 20px;
  color: #797575;
  background-color: white;
  border: 1px solid grey;
  border-radius: 48%;
  width: 35px;
  height: 35px;
  padding: 6px;
}

.office button{
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.img-principal img{
  width: 100%;
  margin-bottom: 35px;
}
.parrafo-img{
  text-align: center
}
.botones div{
  margin-top: 25px
}
.botones a{
  text-decoration: none;
  color: white;
  background: #d83b01;
  padding: 8px 60px;
  border-color: #fff
}
.botones a:hover{
  background: #a50800
}
.background-office{
  padding-top: 30px;
  margin-top: 50px;
  background-color: #d6cdcd71;
}
.informacion-office{
  padding-top: 70px;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
}
.info-office{
  display: flex;
  flex-direction: column;
  width: 20px;
}
.info-office span{
  font-weight: 700;
  font-size: 17px;
  margin-top: 10px;
}
.info-office a{
  color: #0067b8;
  margin-top: 10px;
  margin-bottom: 20px;
}
.info-office a:hover{
  text-decoration: underline;
}
.seguir-link{
  border-top: 1px solid grey;
  padding-top: 40px;
  padding-bottom: 40px;
}
.seguir-link h2{
  font-size: 18px;
  font-weight: 700;
}
.seguir-link nav, i{
  padding-left: 15px;
}
.footer-superior{
  background-color: rgba(128, 128, 128, 0.137);
}
.link-footer{
  margin: 31px 0 0 15px;
}
.link-footer h3{
  font-size: 15px;
  color: gray
}
.link-footer ul{
  list-style: none;
  padding-left: 0px;
}
.link-footer a{
  font-size: 12px;
  color: grey; 
}
.link-footer a:hover{
  color: black;
}
.spanish-footer a{
  font-size: 12px;
  color: gray;
}