.header{
border-bottom: 1px solid grey;
}
.menu-header{
  padding: 5px 0 0 20px;
}.icon-bars i{
  color: black
}
.icon-search i{
  color: black;
  font-size: 15px;
}
.logo-header img{
  width: 100px;
}
.icon-user i{
  font-size: 20px;
  color: #797575;
  background-color: white;
  border: 1px solid grey;
  border-radius: 48%;
  width: 35px;
  height: 35px;
  padding: 6px;
}

.office button{
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.img-principal img{
  width: 100%;
  margin-bottom: 35px;
}
.parrafo-img{
  text-align: center
}
.botones div{
  margin-top: 25px
}
.botones a{
  text-decoration: none;
  color: white;
  background: #d83b01;
  padding: 8px 60px;
  border-color: #fff
}
.botones a:hover{
  background: #a50800
}
.background-office{
  padding-top: 30px;
  margin-top: 50px;
  background-color: #d6cdcd71;
}
.informacion-office{
  text-align: center;
  align-items: center
}
/* terminarlo pronto :D */
/* .info-office{
  width: 100%;
  display: flex;
  flex-direction: column
} */