doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Microsoft
    link(rel="stylesheet", href="fontawesome-free-5.0.1/css/fontawesome-all.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header
      div.container: div.row
        div.d-flex.menu-header
          div.icon-bars.col-1
            a(href="#")
              i.fa.fa-bars
          div.icon-search.col-1
            a(href="#")
              i.fas.fa-search
          div.logo-header.col-7
            a(href="#"): img(src="img/microsoft.png", alt="")
          div.icon-user.col-3
            a(href="#"): i.fas.fa-user-plus
          
    nav.col-12.office
      button Office
    section
      div.img-principal
        img(src="img/fondo.jpg", alt="")
      div.container: div.row
        div.parrafo-img
          div
            h2 Este es tu 365
          div
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, tenetur.
          div.botones.col-12
            div
              a(href="#").col-12 Para el hogar
            div
              a(href="#").col-12 Para el hogar
    section.background-office
      div.container: div.row
        div.col-12: h2 Qué es Office 365
        div.col-12
          p Office 365 es un servicio de suscripción basado en la nube que reúne las mejores herramientas para la forma de trabajar de hoy en día. Al combinar las mejores aplicaciones de su categoría, como Excel y Outlook, con servicios de gran utilidad en la nube, como OneDrive y Microsoft Teams, Office 365 permite a los usuarios crear y compartir desde cualquier lugar y dispositivo.
        div
          img(src="img/tablet.webp", alt="").img-fluid
    section.informacion-office
      div.container: div.row
        div: h2 Más información sobre Office 365
        article.col-12.info-office
          div
            img(src="img/hogar.png", alt="")
          span Hogar
          a(href="#") Más información
        article.col-12.info-office
          div
            img(src="img/hogar.png", alt="")
          span Hogar
          a(href="#") Más información
        article.col-12.info-office
          div
            img(src="img/hogar.png", alt="")
          span Hogar
          a(href="#") Más información
    section.seguir-link
      div.container: div.row
        div.col-6: h2 Seguir Office 
        nav.col-6
          i.fab.fa-linkedin-in
          i.fab.fa-facebook-f
          i.fab.fa-twitter
          i.fab.fa-instagram

