doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Microsoft
    link(rel="stylesheet", href="fontawesome-free-5.0.1/css/fontawesome-all.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header
      div.container
        div.row
          div.d-flex.menu-header
            div.icon-bars.col-1
              a(href="#")
                i.fa.fa-bars
            div.icon-search.col-1
              a(href="#")
                i.fas.fa-search
            div.logo-header.col-7
              a(href="#"): img(src="img/microsoft.png", alt="")
            div.icon-user.col-3
              a(href="#"): i.fas.fa-user-plus
          
    div.col-12.office
      button Office
    
